            div
            {
                color:darkblue;
                margin: 40px;
                padding: 50px;
                border: 1px solid black;
            }
            body
            {
                background-image:url(https://wallpapersite.com/images/pages/pic_w/16402.jpg);
                background-color: lightgreen;
            }

            h1
            {
                padding: 70px;
                color: black;
                text-align: center;
                font-size: 40px;
            }

            p
            {
                font-family: verdana;
                font-size: 20px;
            }
            ol
            {
                margin-left:30px;
            }